<div id="bag_frame" class="storage_frame">
<div id="equipment_content" class="storage_list">
    <h3>Storage</h2>
    <div class="item_type">
        <radio class="selectType" data="1">
            武<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="2">
            盾<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="3">
            頭<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="4">
            符<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="5">
            肩<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="6">
            身<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="7">
            手<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="8">
            戒<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="9">
            腰<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="10">
            腳<div class="itemCount"></div>
        </radio>
    </div>
    <div class="storage_limit">2/30</div>
    <div class="item_content">
        <ul class="itemList">
            <li>
            <div class="label" gid="nam">木劍</div>
            <div gid="attr">傷害力 +10</div>
            <div class="number" gid="coins">$1000</div>
            <btn>Get</btn>
            </li>
            <li>
            <div class="label" gid="nam">木劍</div>
            <div gid="attr">傷害力 +10</div>
            <div class="number" gid="coins">$1000</div>
            <btn>Get</btn>
            </li>
        </ul>
    </div>
</div>
<div id="bag_content2" class="storage_list">
    <h3>Bag</h2>
    <div class="item_type">
        <radio class="selectType" data="1">
            武<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="2">
            盾<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="3">
            頭<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="4">
            符<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="5">
            肩<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="6">
            身<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="7">
            手<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="8">
            戒<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="9">
            腰<div class="itemCount"></div>
        </radio>
        <radio class="selectType" data="10">
            腳<div class="itemCount"></div>
        </radio>
    </div>
    <div class="storage_limit">5/15</div>
    <div class="item_content">
        <ul class="itemList">
            <li>
            <div class="label" gid="nam">木劍</div>
            <div gid="attr">傷害力 +10</div>
            <div class="number" gid="coins">$1000</div>
            <btn>Put</btn>
            </li>
        </ul>
    </div>
</div>

</div>