

<table border="0" width="100%" id="cityframe" cellspacing="12">
	<tr>
		<td colspan="7">
		<table border="0" width="100%" id="table1">
			<tr>
				<td rowspan="2" width="151">
				<img border="0" src="" width="125" height="125"></td>
				<td><font size="4">City</font><hr></td>
			</tr>
			<tr>
				<td height="89">many people reset there.</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td><div class="cs_btn_city" onclick="javascript:city.build.center.enter();">冒險者中心</div></td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
	</tr>
	<tr>
		<td><div class="cs_btn_build" onclick="javascript:city.build.home.enter();">自宅</div></td>
		<td><div class="cs_btn_build" onclick="javascript:city.build.train.enter();">訓練中心</div></td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
	</tr>
	<tr>
		<td><div class="cs_btn_build" onclick="javascript:city.build.pet.enter();">寵物研究所</div></td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
	</tr>
	<tr>
		<td><div class="cs_btn_city" onclick="javascript:city.build.map.enter();">城門</div></td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
	</tr>
	<tr>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
	</tr>
	<tr>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
		<td>　</td>
	</tr>
</table>
