<div id="battle">
    <div id="battle_frame">
        <btn class="battle_button" gid="leave_battle_btn" data="city">離開
            <BR>Battle</btn>
        <div id="battle_content">
            <div id="enemy">
                <enemy pos="1">
                    <span class="nam">M 1</span>
                    <hp></hp>
                </enemy>
                <enemy pos="2">
                    <span class="nam">M 2</span>
                    <hp></hp>
                </enemy>
                <enemy pos="3">
                    <span class="nam">M 3</span>
                    <hp></hp>
                </enemy>
                <enemy pos="4">
                    <span class="nam">M 4</span>
                    <hp></hp>
                </enemy>
                <enemy pos="5">
                    <span class="nam">M 5</span>
                    <hp></hp>
                </enemy>
                <enemy pos="6">
                    <span class="nam">M 6</span>
                    <hp></hp>
                </enemy>
                <enemy pos="7">
                    <span class="nam">M 7</span>
                    <hp></hp>
                </enemy>
                <enemy pos="8">
                    <span class="nam">M 8</span>
                    <hp></hp>
                </enemy>
                <enemy pos="9">
                    <span class="nam">M 9</span>
                    <hp></hp>
                </enemy>
                <enemy pos="10">
                    <span class="nam">M 10</span>
                    <hp></hp>
                </enemy>
            </div>
            <div id="team">
                <member pos="1">
                    <span class="nam">P Name</span>
                    <hp></hp>
                </member>
                <member pos="2"></member>
                <member pos="3"></member>
                <member pos="4"></member>
                <member pos="5"></member>
            </div>
        </div>
        <div id="skill_frame">
            <sel class="skill_button" gid="skill1" data="1">Skill 1</sel>
            <sel class="skill_button" gid="skill2" data="2">Skill 2</sel>
            <sel class="skill_button" gid="skill3" data="3">Skill 3</sel>
            <sel class="skill_button" gid="skill4" data="4">Skill 4</sel>
            <sel class="skill_button" gid="skill5" data="5$">Skill 5</sel>
        </div>
        <div id="cmd_frame">
            <btn class="cmd_button" gid="cmd1" data="1">Cmd 1</btn>
            <btn class="cmd_button" gid="cmd2" data="2">Cmd 2</btn>
            <btn class="cmd_button" gid="cmd3" data="3">Cmd 3</btn>
            <btn class="cmd_button" gid="cmd4" data="4">Cmd 4</btn>
            <btn class="cmd_button" gid="cmd5" data="5">Cmd 5</btn>
        </div>
    </div>
    <div id="battle_log">
        <p>
            <span></span>.............Test</p>
        <p>
            <span></span>.............Test</p>
        <p>
            <span></span>.............Test</p>
        <p>
            <span></span>.............Test</p>
        <p>
            <span></span>.............Test</p>
        <p>
            <span></span>.............Test</p>
        <p>
            <span></span>.............Test</p>
    </div>
</div>