<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
<!--
    <script src="http://www.google.com/jsapi"></script>
    <script>
    google.load("jquery", "1");
    google.load("jqueryui", "1");
    </script>
-->
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div CLASS="msg_frame" id="msg_frame">
        <div CLASS="msg_box" id="msg_box">
            <h2>訊息</h2>
            <hr>
            <h3 id="msg"></h3>
        </div>
    </div>
    <div id="content">
        <div id="show_time">

        </div>

        <div id="chara_frame">
            <div id="chara_state">
                <div class="number" gid="chara_dmg">Loaing...</div>
                <div class="number" gid="chara_mag">Loaing...</div>
                <div class="number" gid="chara_def">Loaing...</div>
                <div class="number" gid="chara_hp">Loaing...</div>
                <div class="number" gid="chara_ex">Loaing...</div>
                <div class="number" gid="chara_cex">Loaing...</div>
            </div>
            <div id="chara_main">
                <img alt="Chara Photo" gid="photo">
                <div class="label" gid="chara_nam">Loaing...</div>
                <div class="number" gid="chara_level">Loaing...</div>
                <div class="number" gid="chara_gold">Loaing...</div>
                <div class="number" gid="chara_vipgold">Loaing...</div>
            </div>
        </div>
        <div class="content_frame" id="city_frame">
            <h2 gid="nam">City Name</h2>
            <h3 gid="desc">City Desc</h3>
            <div class="city_content">
                <btn class="city_button" gid="city_quest_btn" data="quest">
                    Quest
                </btn>
                <btn class="city_button" gid="city_pet_btn" data="pet">
                    Pet
                </btn>
                <btn class="city_button" gid="city_mix_btn" data="mix">
                    Mix
                </btn>
                <btn class="city_button" gid="city_act_btn" data="act">
                    Act
                </btn>
                <btn class="city_button" gid="city_shop_btn" data="shop">
                    Shop
                </btn>
                <btn class="city_button" gid="city_area_btn" data="area">
                    Area
                </btn>
                <btn class="city_button" gid="city_cha_btn" data="cha">
                    Cha
                </btn>
            </div>
        </div>
        <div id="city">
        <div id="guest_frame">
            Guest List
            <div class="guest_list">

            </div>
        </div>
            <div class="content_frame" id="quest_frame">
                <h2 gid="nam">Quest</h2>
                <h3 gid="desc">Quest Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="act_frame">
                <h2 gid="nam">Active</h2>
                <h3 gid="desc">Active Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="pet_frame">
                <h2 gid="nam">Pet</h2>
                <h3 gid="desc">Pet Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="mix_frame">
                <h2 gid="nam">Mixin</h2>
                <h3 gid="desc">Mixin Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="area_frame">
                <h2 gid="nam">Area</h2>
                <h3 gid="desc">Area Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="map_frame">
                <h2 gid="nam">Map</h2>
                <h3 gid="desc">Map Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="area">Back Area</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="cha_frame">
                <h2 gid="nam">Challenge</h2>
                <h3 gid="desc">Challenge Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
            <div class="content_frame" id="shop_frame">
                <h2 gid="nam">Shop</h2>
                <h3 gid="desc">Shop Desc</h3>
                <btn class="city_button" gid="city_back_btn" data="city">Back Town</btn>
                <div class="city_content">
                </div>
            </div>
        </div>
        <div id="battle">
          <div id="battle_frame">
            <btn class="battle_button" gid="leave_battle_btn" data="city">Leave<BR>Battle</btn>
            <div id="skill_frame">
              <sel class="skill_button" gid="skill1" data="1">技1</sel>
              <sel class="skill_button" gid="skill2" data="2">技2</sel>
              <sel class="skill_button" gid="skill3" data="3">技3</sel>
              <sel class="skill_button" gid="skill4" data="4">技4</sel>
              <sel class="skill_button" gid="skill5" data="5$">技5</sel>
            </div>
            <div id="battle_content">
            </div>
            <div id="battle_log">

            </div>
          </div>
        </div>
    </div>
    <script>
    window.onload = function() { 
        <%include js/Modernizr.cjs%> 
        <%include js/main.cjs%>
        <%include js/baseclass.cjs%> 
        <%-classjs%> 
        <%include js/obj.cjs%> 
        <%include js/event.cjs%>


        window.onresize = function(event) {

        }
    }
    </script>
</body>

</html>
