<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre' rel='stylesheet' type='text/css'>

<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/obj.css">
<link rel="stylesheet" type="text/css" href="stylesheets/button.css">
</head>

<body>
<div class="cs_hideframe" id="hiddenframe"></div>
<% include layouts/city %>
<script>
window.onload = function(){
<% include js/main.cjs%>
<% include js/baseclass.cjs%>
<%- classjs%>
<% include js/obj.cjs%>
<% include js/event.cjs%>


    window.onresize = function(event) {

    }
}



</script>
</body>

</html>