/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom. */
html {
  text-shadow: 0px 1px 3px rgba(128, 128, 128, 0.6);
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove default margin. */
body {
  margin: 10px;
}

/* HTML5 display definitions
 * ========================================================================== */
/*
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template {
  display: none;
}

/* Links
 * ========================================================================== */
/*
 * Remove the gray background color from active links in IE 10. */
a {
  background: transparent;
}
a:active, a:hover {
  outline: 0;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers. */
/* Text-level semantics
 * ========================================================================== */
/*
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong {
  font-weight: bold;
}

/*
 * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic;
}

/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * Address styling not present in IE 8/9. */
mark {
  background: yellow;
  color: black;
}

/*
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
 * ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0;
}

/*
 * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
 * ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px;
}

/*
 * Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Contain overflow in all browsers. */
pre {
  overflow: auto;
}

/*
 * Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
 * ========================================================================== */
/*
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */
/*
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
  text-transform: none;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */
select {
  text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor: default;
}

/*
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
/*
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
/*
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */
/*
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof). */
/*
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */
/*
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto;
}

/*
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold;
}

/* Tables
 * ========================================================================== */
/*
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

ol, ul {
  list-style: none;
}

.label {
  clear: both;
  float: left;
}

.content_frame, #chara_main, #chara_state, #guest_frame {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media only screen and (max-width: 1200px) {
  .content_frame, #chara_main, #chara_state, #guest_frame {
    font-size: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .content_frame, #chara_main, #chara_state, #guest_frame {
    font-size: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .content_frame, #chara_main, #chara_state, #guest_frame {
    font-size: 80%;
  }
}

.label {
  position: absolute;
  color: #222288;
}

.number {
  position: absolute;
  color: #226622;
}

html {
  background-image: -webkit-gradient(linear, 0, 0, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(0, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(0, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(0, #eeeeee, #ffffff);
  background-image: linear-gradient(0, #eeeeee, #ffffff);
}

#show_time {
  width: 130px;
  position: fixed;
  text-align: right;
  right: 10px;
  z-index: 50;
  font-size: 90%;
}

.msg_frame {
  z-index: 100;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #333333;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

.msg_box {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 1px 1px 2px #888888;
  -moz-box-shadow: 1px 1px 2px #888888;
  box-shadow: 1px 1px 2px #888888;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #ee8888;
  border: 2px solid white;
  text-align: center;
}

.content_frame {
  top: 10px;
  left: 240px;
  width: 440px;
  height: 400px;
  z-index: 40;
  display: none;
}

.content_frame > .city_content {
  width: 30px;
  height: 80px;
  position: absolute;
}

#chara_frame {
  top: 10px;
  left: 10px;
  z-index: 50;
}

#chara_main {
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  background-image: -webkit-gradient(linear, 0, 0, color-stop(0%, #bbeeee), color-stop(100%, #ccffff));
  background-image: -webkit-linear-gradient(0, #bbeeee, #ccffff);
  background-image: -moz-linear-gradient(0, #bbeeee, #ccffff);
  background-image: -o-linear-gradient(0, #bbeeee, #ccffff);
  background-image: linear-gradient(0, #bbeeee, #ccffff);
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 40;
}
@media only screen and (max-width: 1200px) {
  #chara_main {
    width: 200px;
    height: 170px;
  }
}
@media only screen and (max-width: 800px) {
  #chara_main {
    width: 200px;
    height: 170px;
  }
}
@media only screen and (max-width: 450px) {
  #chara_main {
    width: 90%;
    height: 70px;
  }
}

#chara_state {
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  background-image: -webkit-gradient(linear, 0, 0, color-stop(0%, #bbeebb), color-stop(100%, #ccffcc));
  background-image: -webkit-linear-gradient(0, #bbeebb, #ccffcc);
  background-image: -moz-linear-gradient(0, #bbeebb, #ccffcc);
  background-image: -o-linear-gradient(0, #bbeebb, #ccffcc);
  background-image: linear-gradient(0, #bbeebb, #ccffcc);
  width: 150px;
  height: 200px;
  top: 190px;
  left: 17px;
  z-index: 30;
  position: fixed;
}

[gid=photo] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  background: #cccccc;
  width: 100px;
  height: 100px;
  top: 5px;
  left: 5px;
  border: solid;
  border-color: white;
  border-width: 4px;
  position: absolute;
}

[gid=nam] {
  top: 120px;
  left: 5px;
  background: url("/images/nam.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=gold] {
  top: 155px;
  left: 5px;
  background: url("/images/gold.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=hp] {
  top: 15px;
  left: 10px;
  background: url("/images/hp.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=ex] {
  top: 47px;
  left: 10px;
  background: url("/images/ex.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=cex] {
  top: 79px;
  left: 10px;
  background: url("/images/cex.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=dmg] {
  top: 111px;
  left: 10px;
  background: url("/images/dmg.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=mag] {
  top: 143px;
  left: 10px;
  background: url("/images/mag.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=def] {
  top: 175px;
  left: 10px;
  background: url("/images/def.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=level] {
  top: 10px;
  left: 120px;
  background: url("/images/level.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

[gid=vipgold] {
  top: 45px;
  left: 120px;
  background: url("/images/vipgold.png") no-repeat left;
  height: 32px;
  padding-left: 40px;
  line-height: 32px;
}

.city_button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  width: 80px;
  height: 80px;
  border: solid;
  border-color: white;
  border-width: 2px;
  position: absolute;
  cursor: pointer;
  font-size: 70%;
  text-align: center;
  line-height: 150px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

[gid=city_quest_btn] {
  top: 0px;
  left: 0px;
  background: #ffffee;
}

[gid=city_pet_btn] {
  top: 100px;
  left: 200px;
  background: #eeeeff;
}

[gid=city_mix_btn] {
  top: 100px;
  left: 300px;
  background: #eeeeff;
}

[gid=city_act_btn] {
  top: 100px;
  left: 0px;
  background: #eeffee;
}

[gid=city_shop_btn] {
  top: 100px;
  left: 100px;
  background: #eeffee;
}

[gid=city_map_btn] {
  top: 200px;
  left: 0px;
  background: #ffeeee;
}

[gid=city_cha_btn] {
  top: 200px;
  left: 100px;
  background: #ffeeee;
}

[gid=city_cha_btn] {
  top: 200px;
  left: 100px;
  background: #ffeeee;
}

[gid=city_back_btn] {
  background: #ffccee;
  right: 10px;
  top: 30px;
  position: absolute;
}

#guest_frame {
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  background-image: -webkit-gradient(linear, 0, 0, color-stop(0%, #eeeecc), color-stop(100%, #ffffee));
  background-image: -webkit-linear-gradient(0, #eeeecc, #ffffee);
  background-image: -moz-linear-gradient(0, #eeeecc, #ffffee);
  background-image: -o-linear-gradient(0, #eeeecc, #ffffee);
  background-image: linear-gradient(0, #eeeecc, #ffffee);
  width: 250px;
  height: 400px;
  top: 10px;
  left: 710px;
  z-index: 40;
  position: fixed;
}

.guest_list {
  -webkit-box-shadow: 1px 1px 2px #333333 inset;
  -moz-box-shadow: 1px 1px 2px #333333 inset;
  box-shadow: 1px 1px 2px #333333 inset;
  top: 40px;
  left: 10px;
  width: 230px;
  height: 85%;
  background: #eeeeee;
  position: absolute;
  overflow: auto;
  padding: 10px;
}

.guest {
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  width: 100%;
  height: 80px;
  background: white;
  position: relative;
  margin-bottom: 10px;
}

.guest > * {
  position: absolute;
}

.guest > .guest_photo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  box-shadow: 1px 1px 2px #333333;
  width: 80px;
  height: 80px;
  background: #eeeeee;
  border: solid;
  border-color: white;
  border-width: 2px;
  cursor: pointer;
  top: 12px;
  left: 10px;
  width: 50px;
  height: 50px;
}

.guest > .guest_nam {
  top: 10px;
  left: 70px;
  color: blue;
}

.guest > .guest_level {
  top: 30px;
  left: 70px;
  color: green;
}

.guest > .guest_cex {
  top: 50px;
  left: 70px;
  color: red;
}
