<div class="content_frame" gameFrame="home">
    <h2 gid="nam">Home</h2>
    <h3 gid="desc">Home Desc</h3>
    <btn class="city_button" gid="sub_btn_1" data="city">Town</btn>
    <div class="city_content">
      <btn class="city_button" gid="home_storage_btn" data="storage">
          倉庫
      </btn>
    </div>
</div>