<div class="content_frame" gameFrame="map">
    <h2 gid="nam">Map</h2>
    <h3 gid="desc">Map Desc</h3>
    <hr>
    <span gid="area_nam">Area Nam</span>
    <span gid="area_desc">Area Desc</span>
    <btn class="city_button" gid="sub_btn_2" data="area">Area</btn>
    <btn class="city_button" gid="sub_btn_1" data="city">Town</btn>
    <div class="city_content">
    </div>
</div>