<div class="content_frame" id="shop_frame">
    <h2 gid="nam">Shop</h2>
    <h3 gid="desc">Shop Desc</h3>
    <btn class="city_button" gid="sub_btn_1" data="city">Town</btn>
    <div class="city_content">
      <div class="item_type">
          <radio class="selectType" data="buy">
              購買
          </radio>
          <radio class="selectType" data="sell">
              賣出
          </radio>
          <radio class="selectType" data="reSell">
              買回
          </radio>
      </div> 
      <ul class="itemList">
          <li>
          <div class="label" gid="nam">木劍</div>
          <div gid="attr">傷害力 +10</div>
          <div class="number" gid="coins">$1000</div>
          <btn>Buy</btn>
          </li>
      </ul>
    </div>
</div>