<div class="content_frame" id="shop_frame">
    <h2 gid="nam">Shop</h2>
    <h3 gid="desc">Shop Desc</h3>
    <btn class="city_button" gid="sub_btn_1" data="city">Town</btn>
    <div class="city_content">
    </div>
</div>